<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853126948885-4v6j8utfab28umah0irfu6q1kol12pga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853126948885-4v6j8utfab28umah0irfu6q1kol12pga</string>
	<key>API_KEY</key>
	<string>AIzaSyBwzXbjInFNTgUi3F3XKlEfP15cl3CaiA4</string>
	<key>GCM_SENDER_ID</key>
	<string>853126948885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>clara-jeon.OnlyCats</string>
	<key>PROJECT_ID</key>
	<string>onlycats-c5c81</string>
	<key>STORAGE_BUCKET</key>
	<string>onlycats-c5c81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853126948885:ios:dd3dedc0bf3bf14535461c</string>
</dict>
</plist>